body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div {
    box-sizing: border-box;
}

.header {
    margin: 15px;
}

.container {
    margin: 15px auto;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vh;
}

.cell {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    aspect-ratio: 1/1;
    border: 1px solid black;
}